h1{
    color: brown;
    text-align: center;
    font-family: verdana;
  font-size: 30px;
}

body{
    background: peachpuff;
}

ul{
  list-style: none;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

h2 {border-style: inset;}

/*.Grass {
  border: 10px green;
  padding: 15px;
  border-image: url(pokemon\1.png) 30 round;
}*/





