h1{
    color: brown;
    text-align: center;
    font-family: verdana;
  font-size: 30px;
}

body{
    background: peachpuff;
}
.division{
  width: 800px;
  height: 2200px;
  background: rgb(186, 227, 234);
  margin-left: auto;
  margin-right: auto;
  border-style:groove;
}

.newDivision{
  width: 800px;
  height: 600px;
  background: rgb(186, 227, 234);
  margin-left: auto;
  margin-right: auto;
  border-style:groove;
}


ul{
  list-style: none;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}



h2 {border-style: inset;}

.grass {
  border: 100px green;
  background-color: rgb(105, 219, 139);
  
}

.fire {
  border: 100px rgb(205, 108, 72);
  background-color: rgb(237, 156, 131);
}

.water {
  border: 100px green;
  background-color: rgb(97, 198, 228);
}

.bug {
  border: 100px green;
  background-color: rgb(188, 144, 119);
}

.normal {
  border: 100px green;
  background-color: rgb(186, 178, 178);
}



form {
  background-color: rgb(239, 185, 139);
  width: 324px;
  height: 35px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: rgb(11, 1, 1);
  height: 100%;
  width: 100%;
  padding: 7px 12px;
}

::placeholder {
  color: brown;
  opacity: 1; 
}

button {
  all: unset;
  cursor: pointer;
  width: 70px;
  height: 70px;
  font-weight: bold;
  
}

.type{
  color: brown;
    
    font-family: verdana;
  font-size: 15px;
}








